<div class="carousel carousel-slider indigo center" style="height: 510px" data-indicators="true">
  <div class="carousel-fixed-item center">
    <a class="btn waves-effect white grey-text darken-text-2">Button</a>
  </div>

  <div class="carousel-item red white-text" href="#one">
    <h2>First Panel</h2>
    <p class="white-text">Just a test #1...</p>
  </div>
  <div class="carousel-item amber white-text" href="#second">
    <h2>Second Panel</h2>
    <p class="white-text">Just a test #2...</p>
  </div>
  <div class="carousel-item green white-text" href="#three">
    <h2>Third Panel</h2>
    <p class="white-text">Just a test #3...</p>
  </div>
  <div class="carousel-item blue white-text" href="#four">
    <h2>Four Panel</h2>
    <p class="white-text">Just a test #4...</p>
  </div>
</div>

<!--
<div class="slider">
  <ul class="slides">
    <li>
      <img src="#">
      <div class="caption center-align">
        <h3>First slide</h3>
        <h5 class="light grey-text text-lighten-3">
          Just a test...
        </h5>
      </div>
    </li>
    <li>
      <img src="#">
      <div class="caption center-align">
        <h3>First slide</h3>
        <h5 class="light grey-text text-lighten-3">
          Just a test...
        </h5>
      </div>
    </li>
    <li>
      <img src="#">
      <div class="caption center-align">
        <h3>First slide</h3>
        <h5 class="light grey-text text-lighten-3">
          Just a test...
        </h5>
      </div>
    </li>
    <li>
      <img src="#">
      <div class="caption center-align">
        <h3>First slide</h3>
        <h5 class="light grey-text text-lighten-3">
          Just a test...
        </h5>
      </div>
    </li>
  </ul>
</div>
-->
