<div class="container">
  <div class="center-align">
    <h3>Login</h3>
    <h5 class="blue-text">Please, login into your account</h5>

    <div class="z-depth-1 grey lighten-4 row login-box left-align">

      <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm, $event)">

        <div class="row">
          <div class="col s12">
            <div class="input-field" [ngClass]="{'has-error':!loginForm.controls['username'].valid}">
              <input class="validate" type="text" formControlName="username" />
              <label for="email">Username</label>
            </div>

            <div *ngIf="loginForm.controls['username'].touched && loginForm.controls['username'].hasError('required')">
              <p class="text-danger">Username is required</p>
            </div>

            <div *ngIf="loginForm.controls['username'].touched && loginForm.controls['username'].hasError('minLength')">
              <div class="text-danger">Your name must be at least five chars long</div>
            </div>
          </div>

          <div class="col s12">
            <div class="input-field" [ngClass]="{'has-error':!loginForm.controls['password'].valid}">
              <input class="validate" type="password" formControlName="password">
              <label for="password">Password</label>
            </div>
            <div *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].hasError('required')">
              <p class="text-danger">Password is required</p>
              <br>
            </div>
          </div>

          <div class="row">
            <button type="submit" class="col s12 btn btn-large waves-effect blue">Login</button>
          </div>

          <div class="row">
            <a class="blue-text" href="#" [routerLink]="['/auth/forgot']">Forgot Password?</a>
            <a class="blue-text right" href="#" [routerLink]="['/auth/signin']">Create account</a>
          </div>
          <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="section"></div>
