.post{
  margin: 10px 5px 20px 5px;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  transition: transform 0.3s;
}

.post:hover{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

md-card {
  padding: 0;
  margin: 0;
}

md-card-header {
  position: relative;
  height: 80px;
  display: flex;
}

md-card-header img{
  position:absolute;

  margin: 15px;
  height: 50px;
  width: 50px;

	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

md-card-header img:hover {
  -webkit-filter: contrast(150%);
  filter: contrast(150%);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
  cursor: pointer;
  cursor: hand;
}

md-card-title{
  position: absolute;
  top: 20px;
  left: 85px;
  text-align: center;
}

md-card-subtitle{
  position: absolute;
  top: 50px;
  left: 85px;
  text-align: center;
}

figure {
	margin: 0;
  width: 100%;
  height: 100%;
	background: #fff;
  overflow: hidden;
}

figure img {
  margin-top: -10px;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  transition: transform 0.3s;
}

figure:hover img {
  -webkit-filter: contrast(150%);
  filter: contrast(150%);

  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);

  cursor: pointer;
  cursor: hand;
}

.md-card-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5px 15px 10px 15px;
}

.footer-item{
  display: flex;
  justify-content: center;
  width: 45%;
  color: #818181;
  font-size: 23px;
}

md-icon{
  margin-right: 15%;
  margin-top: 2px;
  color: #818181;
  font-size: 30px;
}
