<div class="post">

    <md-card>

      <md-card-header>
        <img md-card-avatar src='/assets/images/profile-pic.jpg' />
        <md-card-title>{{post.title}}</md-card-title>
        <md-card-subtitle>{{post.user_id}}</md-card-subtitle>
      </md-card-header>

      <md-card-content>

        <figure> <img md-card-image src="{{post.image_url}}"> </figure>

<!--
        <div class="md-card-footer">

            <rating *ngIf="!isWall"  [(ngModel)]="rate" (ngModelChange)="reportRate($event)" [max]="max" [readonly]="isReadonly"
                    (onHover)="hoveringOver($event)" (onLeave)="resetStar()"
                    [titles]="['one','two','three']"></rating>

            <span class="label"
                  [ngClass]="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
                  [ngStyle]="{display: (overStar && !isReadonly) ? 'inline' : 'none'}">{{percent}}%</span>

          <span class="rated">   {{post.total_score}}</span>

        </div>
-->
      </md-card-content>

    </md-card>

</div>
