<div class="row">
  <div class="col">
    <md-card>
      <md-card-content>
        <figure> <img md-card-image  src="{{post.image_url}}"> </figure>
      </md-card-content>
    </md-card>
  </div>
  <div class="col">
    <md-card>
      <md-card-header>
        <md-card-title>
          {{post.user_id}}
        </md-card-title>
      </md-card-header>
    </md-card>

    <md-card *ngIf="post.comments.length > 0 " style="margin-top: 10px;" >
      <md-card-content>
        <md-list>
          <md-list-item *ngFor="let comment of post.comments">
            <b>{{comment.user_id}}</b> <span>{{comment.commented}}</span>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
  </div>
</div>



