<div class="col-md-6 col-md-offset-3">
  <md-card>
    <md-card-header>
      <div class="text-center">
        <md-card-title>Share us something</md-card-title>
      </div>
    </md-card-header>
    <md-card-content>
      <form>
        <p>
          <md-input-container color="#0000FF" class="container_md">
            <textarea mdInput placeholder="Your story goes here!"></textarea>
          </md-input-container>
        </p>
      </form>

      <input type="file" accept="image/*" (change)="changeListener($event)">
      <button md-raised-button (click)="uploadPhoto()"> Send</button>
    </md-card-content>
  </md-card>
</div>


<div class="hidden">

</div>

<app-post class="col-md-6 col-md-offset-0 col-sm-6" *ngFor="let post of posts" [post]="post"></app-post>
