.navbar-material .nav-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-material .nav-wrapper .brand-logo img {
    height: 54px;
}

a:hover, a:focus, a:active, a:visited {
  color:  white;
  text-decoration: none;
}
